.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
  margin-left: 10px;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  margin-top: 6px;
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

:root {
  --font-color: black;
  --bg-color: white;
}

body {
  overflow-y: scroll; 
 
}

h1,h2,li,button.accordion-button,div.card-title,
div.card-subtitle.h6,h3   {
  color: var(--font-color);
}

p{
  color: var(--font-color);
}

div.accordion
{
  --bs-accordion-bg: var(--bg-color);
}
